/* ANIMATIONS */

/* navbar: from yellow to white  */
@keyframes navbar-animation-to-white {
  0% {
    background-color: #ffc017;
  }

  100% {
    background-color: white;
  }
}

@keyframes navbar-animation-to-yellow {
  0% {
    background-color: white;
  }

  100% {
    background-color: #ffc017;
  }
}

/* button navbar: from black to green */
@keyframes button-navbar-animation-to-green {
  0% {
    /* background-color: black; */
  }

  100% {
    background-color: green;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
  }
}

/* button navbar: from green to black */
@keyframes button-navbar-animation-to-black {
  0% {
    background-color: green;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
  }

  100% {
    /* background-color: black; */
  }
}

/* use these classes to create 
the navbar animation  */

/* navbar animation */
.navbar-animate-to-white {
  animation: navbar-animation-to-white 0.5s ease-in forwards;
}

.navbar-animate-to-yellow {
  animation: navbar-animation-to-yellow 0.5s ease-in forwards;
}

/* navbar button animation */

.button-navbar-animate-to-green {
  animation: button-navbar-animation-to-green 0.5s ease-in forwards;
}

.button-navbar-animate-to-black {
  animation: button-navbar-animation-to-black 0.5s ease-in forwards;
}
