body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


header {
    /* height: 100px; */
    border: 1px solid black;
    padding: 2rem;
    background-color: #ffc017;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: fixed;
    /* allows  to stretch truly to 100% */
    box-sizing: border-box;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

main {
    margin-top: 70px;
    flex-grow: 1;
    height: 200vh;
}

main > .hero {
    height: 100vh;
    background-color: palevioletred;

}

